{% extends "read.html" %}

{% block htmltitle %}{{ profilename }}'s TypePad activity{% endblock %}

{% block htmlhead %}
    {{ super() }}
    <style type="text/css">
        body {
            background: #f49e47;
            background-attachment: fixed;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#f49e47), to(#D9740D));
            background-image: -moz-linear-gradient(left, right, from(#f49e47), to(#D9740D));
            filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#f49e47, endColorstr=#D9740D, GradientType=0);
        }
    </style>
{% endblock %}

{% block pagination %}{% endblock %}
