{% extends "base.html" %}

{% block htmltitle %}{{ profilename }}'s TypePad neighborhood{% endblock %}

{% block content %}

    {% for post in posts %}
        <div id="post-{{ post.url_id }}" class="post">
            {% if post.why %}
                <div class="post-why">
                    {% for note in [post.why] %}
                        <p>
                            <a href="{{ note.actor.profile_page_url }}"><img
                                {% if note.actor.avatar_link.url_template %}
                                    src="{{ note.actor.avatar_link.url_template|replace("{spec}", "20si") }}"
                                {% else %}
                                    src="{{ note.actor.avatar_link.url }}"
                                {% endif %}
                                ></a>
                            <a href="{{ note.actor.profile_page_url }}">{{ note.actor.display_name }}</a>
                            {% if note.verb == "AddedFavorite" %}
                                added this as a favorite
                            {% elif note.verb == "Reblog" %}
                                <a href="{{ note.original.permalink_url }}">reblogged</a> this
                            {% elif note.verb == "Comment" %}
                                left <a href="{{ note.original.permalink_url }}">a comment</a> on this
                            {% else %}
                                generated a <samp>{{ note.verb }}</samp> event for this
                            {% endif %}
                            <span title="{{ note.published.strftime("%a %b %d %H:%M:%S +0000 %Y") }}" class="relativedatestamp">{{ note.published.strftime("%d %b %Y %H:%M") }}</span>
                        </p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="post-body">
                <a href="{{ post.author.profile_page_url }}"><img
                    class="post-poster"
                    {% if post.author.avatar_link.url_template %}
                        src="{{ post.author.avatar_link.url_template|replace("{spec}","50si") }}"
                    {% else %}
                        src="{{ post.author.avatar_link.url }}"
                    {% endif %}
                    style="-webkit-transform: rotate({{ rot.next() }}deg); -moz-transform: rotate({{ rot.next() }}deg); transform: rotate({{ rot.next() }}deg)"
                    ></a>

                {% if post.title %}
                    <h1 class="post-title">
                        <a href="{{ post.permalink_url }}">{{ post.title }}</a>
                    </h1>
                {% endif %}

                <div class="post-content pkg">
                    {% if post.image_link %}
                    <img
                        {% if post.image_link.url_template %}
                            src="{{ post.image_link.url_template.replace("{spec}", "800wi") }}"
                        {% else %}
                            src="{{ post.image_link.url }}"
                        {% endif %}
                        >
                    {% elif post.video_link %}
                    {{ post.video_link.embed_code }}
                    {% endif %}

                    {{ post.rendered_content or post.content or '' }}
                </div>

                <div class="post-footer">
                    <a href="{{ post.permalink_url }}" class="relativedatestamp" title="{{ post.published.strftime("%a %b %d %H:%M:%S +0000 %Y") }} GMT">{{ post.published.strftime("%d %b %Y %H:%M") }}</a>
                    by
                    <a href="{{ post.author.profile_page_url }}">{{ post.author.display_name or post.author.preferred_username }}</a>
                    <span class="separator">&middot;</span>
                    <a href="{{ post.permalink_url }}#comments">{% if post.comment_count == 0 %}Leave a comment{% else %}{{ post.comment_count }} comment{% if post.comment_count > 1 %}s{% endif %}{% endif %}</a>
                    {% for note in post.actions %}
                        {% if note.verb == 'Comment' %}
                        <a href="{{ note.actor.profile_page_url }}" title="{{ note.actor.display_name or note.actor.preferred_username }}"><img
                            {% if note.actor.avatar_link.url_template %}
                                src="{{ note.actor.avatar_link.url_template|replace("{spec}", "20si") }}"
                            {% else %}
                                src="{{ note.actor.avatar_link.url }}"
                            {% endif %}
                            ></a>
                        {% endif %}
                    {% endfor %}
                    {% if post.favorite_count %}
                        <span class="separator">&middot;</span>
                        <a href="{{ post.permalink_url }}#feedback">{{ post.favorite_count }} favorite{% if post.favorite_count > 1 %}s{% endif %}</a>
                        {% for note in post.actions %}
                            {% if note.verb == 'AddedFavorite' %}
                            <a href="{{ note.actor.profile_page_url }}" title="{{ note.actor.display_name or note.actor.preferred_username }}"><img
                                {% if note.actor.avatar_link.url_template %}
                                    src="{{ note.actor.avatar_link.url_template|replace("{spec}", "20si") }}"
                                {% else %}
                                    src="{{ note.actor.avatar_link.url }}"
                                {% endif %}
                                ></a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if post.reblog_count %}
                        <span class="separator">&middot;</span>
                        <a href="{{ post.permalink_url }}#feedback">{{ post.reblog_count }} reblog{% if post.reblog_count > 1 %}s{% endif %}</a>
                        {% for note in post.actions %}
                            {% if note.verb == 'Reblog' %}
                            <a href="{{ note.actor.profile_page_url }}" title="{{ note.actor.display_name or note.actor.preferred_username }}"><img
                                {% if note.actor.avatar_link.url_template %}
                                    src="{{ note.actor.avatar_link.url_template|replace("{spec}", "20si") }}"
                                {% else %}
                                    src="{{ note.actor.avatar_link.url }}"
                                {% endif %}
                                ></a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="more">
        <p>More?</p>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.relatize_date.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.relativedatestamp').each(function (i, val) {
                $(val).html($.relatizeDate.timeAgoInWords(new Date($(val).attr('title')), true));
            });
        });
    </script>

{% endblock %}
